body {
    font-family: system-ui;
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
   padding: 20px;
  }

  label {
    font-weight: 700;
    margin: 5px;
    align-self: flex-start;
  }